.navWrap {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999;
}

/* h1 래퍼 */
.headerInner {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* MENU, MIOGY 공통 버튼 */
.navMenu {
  font-size: 58px;
  font-weight: 700;
  font-family: "Gerstner Programm FSL", "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  border: 0;
  background-color: transparent;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  cursor: pointer;
}

/* MIOGY */
.brand {
  padding-top: 28px;
  margin: 0;
}

/* 아래 subtitle (Designer | Front-end 등) */
.subtitle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 26px;
}

/* 오른쪽 SNS 영역 */
.myInfo {
  display: flex;
  z-index: 100;
  gap: 8px;
}

/* 인스타/깃허브/info 버튼 공통 */
.iconButton {
  border: none;
  background: transparent;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

/* 메뉴 레이어 */
.menuDisplay {
  width: 100%;
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.1);
  z-index: 10;
}

/* 메뉴 항목 공통 */
.menuLink {
  margin-left: 40px;
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  list-style: none;
  text-decoration: none;
  color: #000;
}

.menuLink:hover {
  color: lightgray;
}

/* CLOSE 버튼 스타일 */
.closeBtn {
  border: 0;
  background-color: transparent;
  text-align: start;
  padding: 80px 0 80px 40px;
  margin-bottom: 0;
  cursor: pointer;
}
